<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Google search</title>
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1 class="main-title">Google Search</h1>
	<form class="searcher" id="searcher-id">
		<input type="search" placeholder="Поиск" class="searcher__text">
		<input type="submit" value="&#128269" class="searcher__button">
	</form>
	<div class="wrapper">
	</div>
	<script type="text/html" id="query-results">
		<% for (var i = 0; i < data.results.length; i++) { %>
			<div class="gs-result">
				<h3 class="gs-result__title">
					<a href=<%= url %>><%= data.results[i].title %></a>
				</h3>
				<p class="gs-result__url"><%= data.results[i].visibleUrl %></p>
				<p class="gs-result__description"><%= data.results[i].content %></p>
			</div>
		<% }; %>
	</script>
</body>
</html>