<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="theme-color" content="#ffffff">
  <title>Table Editor</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.min.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="table-editor">
    <header class="table-editor__header">
      <h1 class="table-editor__title">Table Editor App</h1>
    </header>
    <div class="table-editor__form">
      <form action="" class="form" id="upload_form">
        <div class="form__row">
          <label for="incomes_upload" class="form__label">
            Choose <b>.csv</b> file to upload:
          </label>
          <input type="file" class="form__control" name="incomes_upload" id="incomes_upload" accept=".csv" required>
          <p class="form__error"></p>
        </div>
        <div class="form__row">
          <button type="submit" class="form__button">Submit</button>
        </div>
      </form>
    </div>
    <div class="table-editor__table-view">
      <p class="table-editor__tip">Table data wil be showed here</p>
      <!-- <h2 class="table-editor__table-title">Table</h2>
      <div class="table-editor__table-wrapper">
        <table class="table table-editor__table">
          <thead class="table__head">
            <tr class="table__row table__row--head">
              <th class="table__col table__col--head">Company</th>
              <th class="table__col table__col--head">Income</th>
            </tr>
          </thead>
          <tfoot class="table__foot">
            <tr class="table__row table__row--fot">
              <td class="table__col table__col--foot">Sum:</td>
              <td class="table__col table__col--foot">51</td>
            </tr>
            <tr class="table__row table__row--fot">
              <td class="table__col table__col--foot">Average:</td>
              <td class="table__col table__col--foot">23</td>
            </tr>
          </tfoot>
          <tbody class="table__body">
            <tr class="table__row">
              <td class="table__col">Acme</td>
              <td class="table__col">42</td>
            </tr>
            <tr class="table__row">
              <td class="table__col">Xerox</td>
              <td class="table__col">7</td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
  </div>

  <script src="./assets/js/vendor.js"></script>
  <script src="./assets/js/app.js"></script>
</body>

</html>