.footer {
	border-top: 4px solid $pink;
	padding: 17px 0;

	@include respond-to(tablets) {
		padding: 40px 0;
	}
	
	&__title {
		color: $pink;
		display: block;
		margin-bottom: 15px;
		font-family: $montserrat-b;
		font-size: 16px;
		letter-spacing: .8px;
		text-transform: uppercase;
		transition: all .2s;

		&:hover {
			text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
		}

		@include respond-to(tablets) {
			float: left;
			margin: 0 84px 0 30px;
		}

		@include respond-to(desktop) {
			margin: 0 98px 0 0;
		}
	}
}
.company {

	@include respond-to(tablets) {
		float: left;
		margin-right: 100px;
	}

	&__title {
		text-align: center;
		color: $title;
		font-family: $montserrat-b;
		font-size: 14px;
		margin-bottom: 4px;

		@include respond-to(tablets) {
			margin-bottom: 10px;
			text-align: left;
		}
	}

	&__menu {
		width: 200px;
		margin: 0 auto;

		@include respond-to(tablets) {
			width: 70px;
		}

		&__item {
			display: block;
			float: left;
			margin-right: 15px;

			@include respond-to(tablets) {
				float: none;
				text-align: left;
				line-height: 24px;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			color: $text;
			font-family: $roboto-l;
			font-size: 14px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.partners-list {
	
	@include respond-to(tablets) {
		float: left;
	}

	&__title {
		color: $title;
		font-family: $montserrat-b;
		font-size: 14px;
		margin: 19px 0 17px 0;

		@include respond-to(tablets) {
			margin: 0;
		}
	}
}
.designed {
	
	@include respond-to(tablets) {
		float: right;
		margin-right: 30px;
	}

	@include respond-to(desktop) {
		margin-right: 0;
	}

	&__title {
		display: block;
		text-align: center;
		margin-bottom: 8px;
		color: #ccc;
		font-family: $montserrat-b;
		font-size: 10px;
		text-transform: uppercase;

		@include respond-to(tablets) {
			text-align: right;
		}
	}

	&__logo {
		display: inline-block;
		text-align: center;
		background: url(../img/designed-by.png);
		width: 110px;
		height: 24px;
		transition: all .3s;

		&:hover {
			filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.9));
		}
	}
}