<section class="slider wrapper">
	<ul class="bxslider">
		<li><img src="../img/slide1.jpg"></li>
		<li><img src="../img/slide2.jpg"></li>
		<li><img src="../img/slide3.jpg"></li>
	</ul>
</section>
<section class="info wrapper clearfix">
	<div class="info-block">
		<img src="../img/settings.png" class="info-block__icon">
		<h3 class="info-block__title">Power Inside</h3>
		<p class="info-block__text">
			Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique 
		</p>
		<a href="" class="info-block__link">Read More</a>
	</div>
	<div class="info-block params">
		<img src="../img/params.png" class="info-block__icon">
		<h3 class="info-block__title">New Technologies</h3>
		<p class="info-block__text">
			Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique 
		</p>
		<a href="" class="info-block__link">Read More</a>
	</div>
	<div class="info-block truck">
		<img src="../img/truck.png" class="info-block__icon">
		<h3 class="info-block__title">Fast Support</h3>
		<p class="info-block__text">
			Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique 
		</p>
		<a href="" class="info-block__link">Read More</a>
	</div>
</section>
<section class="services">
	<div class="wrapper clearfix">
		<h2 class="services__title">Our Services</h2>
		<div class="services-article">
			<a href="#" class="services-article__link">
				<div class="services-article__image-wrap">
					<img class="services-article__image" src="../img/services1.jpg" alt="">
				</div>
				<p class="services-article__text">Schelude Services</p>
			</a>
		</div>
		<div class="services-article">
			<a href="#" class="services-article__link">
				<div class="services-article__image-wrap">
					<img class="services-article__image" src="../img/services2.jpg" alt="">
				</div>
				<p class="services-article__text">Preventive Maintence</p>
			</a>
		</div>
		<div class="services-article">
			<a href="#" class="services-article__link">
				<div class="services-article__image-wrap">
					<img class="services-article__image" src="../img/services3.jpg" alt="">
				</div>
				<p class="services-article__text">Tire & Wheel Services</p>
			</a>
		</div>
		<div class="services-article">
			<a href="#" class="services-article__link">
				<div class="services-article__image-wrap">
					<img class="services-article__image" src="../img/services4.jpg" alt="">
				</div>
				<p class="services-article__text">Repair Services</p>
			</a>
		</div>
	</div>
</section>
<section class="news-section clearfix">
	<div class="wrapper clearfix">
		<div class="news">
			<h2 class="news__header">Latest News</h2>
			<article class="news__article clearfix">
				<img src="../img/news1.jpg" class="news__image">
				<div class="news__date">
					<span class="news__month">Jan</span>
					<span class="news__day">23</span>
				</div>
				<div class="news__content">
					<a href="#" class="news__title-wrap">
						<h3 class="news__title">Advanced Machinery Helps Improve Quality</h3>
					</a>
					<p class="news__comments">
						by <a href="#" class="news__link">cmsmasters</a> Comments (<a href="#" class="news__link">6</a>)
					</p>
					<p class="news__text">
						Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
					</p>
				</div>
			</article>
			<article class="news__article clearfix">
				<img src="../img/news2.jpg" class="news__image">
				<div class="news__date">
					<span class="news__month">Jan</span>
					<span class="news__day">21</span>
				</div>
				<div class="news__content">
					<a href="#" class="news__title-wrap">
						<h3 class="news__title">Powerful Techniques for Advanced Service</h3>
					</a>
					<p class="news__comments">
						by <a href="#" class="news__link">cmsmasters</a> Comments (<a href="#" class="news__link">3</a>)
					</p>
					<p class="news__text">
						Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
					</p>
				</div>
			</article>
		</div>
		<div class="banners">
			<h2 class="banners__header">Banners Place</h2>
			<div class="banners__accordion">
				<h3 class="banners__title">Accordion Panel 1</h3>
				<p class="banners__text">
					Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur
				</p>
				<h3 class="banners__title">Accordion Panel 2</h3>
				<p class="banners__text">
					Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur
				</p>
				<h3 class="banners__title">Accordion Panel 3</h3>
				<p class="banners__text">
					Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur
				</p>
				<h3 class="banners__title">Accordion Panel 4</h3>
				<p class="banners__text">
					Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur
				</p>
			</div>
		</div>
	</div>
</section>
<section class="brands-section">
	<div class="wrapper">
		<ul class="brands">
			<li class="brands__item">
				<a href="#" class="brands__link"></a>
			</li>
			<li class="brands__item">
				<a href="#" class="brands__link"></a>
			</li>
			<li class="brands__item">
				<a href="#" class="brands__link"></a>
			</li>
			<li class="brands__item">
				<a href="#" class="brands__link"></a>
			</li>
			<li class="brands__item">
				<a href="#" class="brands__link"></a>
			</li>
			<li class="brands__item">
				<a href="#" class="brands__link"></a>
			</li>
		</ul>
	</div>
</section>
