<header class="header wrapper clearfix">
	<div class="logo">
		<a href="#">
			<img src="../img/logo.png">
		</a>
	</div>
	<ul class="social-links">
		<li class="social-links__item">
			<a class="social-links__link facebook" href="https://www.facebook.com/" target="_blank"></a>
		</li>
		<li class="social-links__item">
			<a class="social-links__link twitter" href="https://twitter.com/" target="_blank"></a>
		</li>
		<li class="social-links__item">
			<a class="social-links__link rss" href="#" target="_blank"></a>
		</li>
		<li class="social-links__item">
			<a class="social-links__link linkedin" href="https://www.linkedin.com/" target="_blank"></a>
		</li>
		<li class="social-links__item">
			<a class="social-links__link skype" href="https://www.skype.com/" target="_blank"></a>
		</li>
	</ul>
	<nav> 
		<ul class="menu clearfix">
			<li class="menu__item menu__item--active">
				<a href="#" class="menu__link">Home</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Features</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Services</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">News</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Shop</a>
			</li>
		</ul>
		<form class="search">
			<input type="search" class="search__item" placeholder="Search...">
		</form>
	</nav>
</header>