// Global
* {
	box-sizing: border-box;
}
.wrapper {
	width: 1160px;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
.clearfix:after {
	display: block;
	clear: both;
	content: '';
}

// Fonts
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu_Regular/ubuntucondensed-regular-webfont.eot');
    src: url('../fonts/Ubuntu_Regular/ubuntucondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu_Regular/ubuntucondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu_Regular/ubuntucondensed-regular-webfont.woff') format('woff'),
         url('../fonts/Ubuntu_Regular/ubuntucondensed-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Regular';
    src: url('../fonts/UbuntuCondensed_Regular/ubuntu-r-webfont.eot');
    src: url('../fonts/UbuntuCondensed_Regular/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UbuntuCondensed_Regular/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/UbuntuCondensed_Regular/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/UbuntuCondensed_Regular/ubuntu-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Medium';
    src: url('../fonts/Ubuntu_Medium/ubuntu-m-webfont.eot');
    src: url('../fonts/Ubuntu_Medium/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu_Medium/ubuntu-m-webfont.woff2') format('woff2'),
         url('../fonts/Ubuntu_Medium/ubuntu-m-webfont.woff') format('woff'),
         url('../fonts/Ubuntu_Medium/ubuntu-m-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$arial: Arial, sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$ubuntu-regular: 'Ubuntu Regular', sans-serif;
$ubuntu-medium: 'Ubuntu Medium', sans-serif;

// Mixins
@mixin link-status($x,$y) {
	background-position: $x $y;
	transition: 0.4s;
	cursor: pointer;
}

