* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
}
.main-title {
	padding: 20px 0;
	color: #0F4CAE;
	text-align: center;
}
.searcher {
	text-align: center;
	margin-bottom: 40px;
}
.searcher__text {
	width: 560px;
	height: 38px;
	font-size: 16px;
	padding-left: 7px;
	border: 1px solid #ddd;
	vertical-align: middle;
}
.searcher__text:hover {
  border: 1px solid #999;
}
.searcher__text:focus {
  display: inline-block;
  outline: none;
  border: 1px solid #4D90FE;
}
.searcher__button {
	display: inline-block;
	width: 40px;
	line-height: 38px;
	border: none;
	background: #4285f4;
	color: #fff;
	font-size: 19px;
	vertical-align: middle;
	border-radius: 2px;
	border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.searcher__button:hover,
.searcher__button:active {
	background: #3367d6;
}
.wrapper {
	margin: 0 0 0 120px;
	width: 530px;
}
.gs-result {
	margin: 20px 0;
}
a {
	text-decoration: none;
	color: #1a0dab;
	font-weight: normal;
}
a:hover,
a:active {
	text-decoration: underline;
}
/*a:visited {
	color: #609;;
}*/
.gs-result__url {
	font-size: 14px;
	color: #006621;
	line-height: 1.4;
}
.gs-result__description {
	color: #545454;
	line-height: 1.4;
	word-wrap: break-word;
	font-size: 14px;
}