// Fonts stack
$lato: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Colors
$bg: #ada6a0; 
$light-grey: #fafafa;
$search: #dcdcdc;
$search-text: #a8a8a8;
$menu: #5b5b5b;
$article-txt: #343433;
$footer-txt: #545454;

// Nav
$nav-height: 55px;

