<section class="work">
	<div class="wrapper">
		<h3 class="work__title">How Urlaubsglück works?</h3>
		<div class="jcarousel">
			<ul class="jcarousel__list">
				<li class="jcarousel__item jcarousel__item--step1">
					<article class="step-info">
						<div class="step-info__count">Step 1</div>
						<h4 class="step-info__title">
							Sed leo enim, condimentum
						</h4>
						<p class="step-info__description">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</p>
					</article>
				</li>
				<li class="jcarousel__item jcarousel__item--step2">
					<article class="step-info">
						<div class="step-info__count step-info__count--step2">Step 2</div>
						<h4 class="step-info__title">
							Morbi velit risus
						</h4>
						<p class="step-info__description">
							Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
						</p>
					</article>
				</li>
				<li class="jcarousel__item jcarousel__item--step3">
					<article class="step-info">
						<div class="step-info__count">Step 3</div>
						<h4 class="step-info__title">
							Sed leo enim, condimentum
						</h4>
						<p class="step-info__description">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</p>
					</article>
				</li>
			</ul>
			<div class="arrows">
				<span class="arrows__left jcarousel-control-prev"></span>
				<span class="arrows__right jcarousel-control-next"></span>
			</div>
		</div>
		<div class="jcarousel">
			<ul class="jcarousel__list">
				<li class="jcarousel__item jcarousel__item--step2">
					<article class="step-info">
						<div class="step-info__count step-info__count--step2">Step 2</div>
						<h4 class="step-info__title">
							Morbi velit risus
						</h4>
						<p class="step-info__description">
							Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
						</p>
					</article>
				</li>
				<li class="jcarousel__item jcarousel__item--step3">
					<article class="step-info">
						<div class="step-info__count">Step 3</div>
						<h4 class="step-info__title">
							Sed leo enim, condimentum
						</h4>
						<p class="step-info__description">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</p>
					</article>
				</li>
				<li class="jcarousel__item jcarousel__item--step1">
					<article class="step-info">
						<div class="step-info__count">Step 1</div>
						<h4 class="step-info__title">
							Sed leo enim, condimentum
						</h4>
						<p class="step-info__description">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</p>
					</article>
				</li>
			</ul>
			<div class="arrows">
				<span class="arrows__left jcarousel-control-prev"></span>
				<span class="arrows__right jcarousel-control-next"></span>
			</div>
		</div>
		<div class="jcarousel jcarousel--last">
			<ul class="jcarousel__list">
				<li class="jcarousel__item jcarousel__item--step3">
					<article class="step-info">
						<div class="step-info__count">Step 3</div>
						<h4 class="step-info__title">
							Sed leo enim, condimentum
						</h4>
						<p class="step-info__description">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</p>
					</article>
				</li>
				<li class="jcarousel__item jcarousel__item--step1">
					<article class="step-info">
						<div class="step-info__count">Step 1</div>
						<h4 class="step-info__title">
							Sed leo enim, condimentum
						</h4>
						<p class="step-info__description">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</p>
					</article>
				</li>
				<li class="jcarousel__item jcarousel__item--step2">
					<article class="step-info">
						<div class="step-info__count step-info__count--step2">Step 2</div>
						<h4 class="step-info__title">
							Morbi velit risus
						</h4>
						<p class="step-info__description">
							Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
						</p>
					</article>
				</li>
			</ul>
			<div class="arrows">
				<span class="arrows__left jcarousel-control-prev"></span>
				<span class="arrows__right jcarousel-control-next"></span>
			</div>
		</div>
	</div>
</section>
<section class="partners">
	<div class="wrapper">
		<h3 class="partners__title">Meet a partner for your best holiday</h3>
		<div class="partners__wrapper">
			<div class="partner">
				<img src="img/partner1.jpg" class="partner__img" alt="partner-photo">
				<div class="partner__wrap-icon partner__wrap-icon--pink">
					<div class="partner__icon-tv"></div>
				</div>
				<p class="partner__name">Bradley Hunter</p>
				<p class="partner__description">Based in Chicago. I love playing tennis and loud music.</p>
			</div>
			<div class="partner">
				<img src="img/partner2.jpg" class="partner__img" alt="partner-photo">
				<div class="partner__wrap-icon partner__wrap-icon--yellow">
					<div class="partner__icon-bottle"></div>
				</div>
				<p class="partner__name">Lucas Marsha</p>
				<p class="partner__description">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
			</div>
			<div class="partner">
				<img src="img/partner3.jpg" class="partner__img" alt="partner-photo">
				<div class="partner__wrap-icon partner__wrap-icon--green">
					<div class="partner__icon-cup"></div>
				</div>
				<p class="partner__name">Heather Walker</p>
				<p class="partner__description">I'm a happy person that loves cats and climbing on mountains.</p>
			</div>
			<div class="partner partner--last">
				<img src="img/partner4.jpg" class="partner__img" alt="partner-photo">
				<div class="partner__wrap-icon partner__wrap-icon--blue">
					<div class="partner__icon-plane"></div>
				</div>
				<p class="partner__name">Bradley Hunter</p>
				<p class="partner__description">Based in Chicago. I love playing tennis and loud music.</p>
			</div>
		</div>
		<a href="#" class="partners__btn">See other partners</a>
	</div>
</section>
<section class="ideas">
	<div class="wrapper">
		<h3 class="ideas__title">Discover holiday activity ideas</h3>
		
	</div>
</section>
<section class="search">
	<div class="wrapper">
		<h3 class="search__title">Discover holiday activity ideas</h3>
		<p class="search__text">Hi! What are you holiday interests?</p>
		<form action="#" class="search__form">
			<input type="text" placeholder="Enter your interests" class="search__input">
			<input type="submit" class="search__button" value="Search partners">
		</form>
	</div>
</section>
<script type="text/template" id="ideas-tmpl">
		<div class="grid" id="gallery">
		<% for (var i = 0; i < data.length; i++) { %>
				<div class="grid-item
				<% if (( i === 5 ) || ( i === 4 )){ %>
						grid-item--width2 
						<% } %>" style = "background: url(<%= data[i].webformatURL %>); background-size: cover">
						<span class="grid-item__text"><%= data[i].tags %></span>
				</div>
		<% }; %>
		</div>
</script>