<footer class="footer">
	<div class="wrapper">
		<a href="#" class="footer__title">
			<h2>Urlaubsglück</h2>
		</a>
		<div class="company clearfix">
			<h4 class="company__title">Company</h4>
			<ul class="company__menu clearfix">
				<li class="company__menu__item">
					<a href="#" class="company__menu__link">About</a>
				</li>
				<li class="company__menu__item">
					<a href="#" class="company__menu__link">Contacts</a>
				</li>
				<li class="company__menu__item">
					<a href="#" class="company__menu__link">Press</a>
				</li>
				<li class="company__menu__item">
					<a href="#" class="company__menu__link">Blog</a>
				</li>
			</ul>
		</div>
		<div class="partners-list">
			<h4 class="partners-list__title">Partners</h4>
		</div>
		<div class="designed">
			<span class="designed__title">Designed by</span>
			<a href="#" class="designed__logo"></a>
		</div>
	</div>
</footer>