<header class="header">
	<div class="header__wrapper">
		<div class="header__top-line clearfix">
			<a href="#" class="logo">URLAUBSGLÜCK</a>
			<div class="login">
				<a href="#" class="login__btn">Log in</a>
				<a href="#" class="login__btn login__btn--border">Sign up</a>
			</div>
		</div>
		<h1 class="header__title">Share your holiday dreams</h1>
		<p class="header__text">And fing the perfect partner to fullfill it</p>
		<a href="#" class="header__btn">Find your holiday partner</a>
	</div>
</header>